In [1]:
import pandas as pd
import numpy as np

In [2]:
d=pd.read_csv("Rank.csv")
print(d)

      Name  Rollno Grade  CGPA
0    varun       1     A   8.5
1  sharath       2     O   9.0
2  ashrith       3     O   9.5
3   suhaas       4     A   8.6
4    indra       5     D   5.9
5  vikrant       6     B   7.8
6    bhanu       7     A   8.4
7   vineet       8     B   8.8
8   neeraj       9     D   5.8
9   charan      10     C   6.9

In [3]:
d.loc[d['CGPA']>=9.0 ,"Type"]="Topper"
d.loc[(d['CGPA']>=8.0) & (d['CGPA']<9.0),"Type"]="Above Avg"
d.loc[(d['CGPA']>=7.0) & (d['CGPA']<8.0),"Type"]="Below Avg"
d.loc[d['CGPA']<7.0,"Type"]="Genius"

print(d)

      Name  Rollno Grade  CGPA       Type
0    varun       1     A   8.5  Above Avg
1  sharath       2     O   9.0     Topper
2  ashrith       3     O   9.5     Topper
3   suhaas       4     A   8.6  Above Avg
4    indra       5     D   5.9     Genius
5  vikrant       6     B   7.8  Below Avg
6    bhanu       7     A   8.4  Above Avg
7   vineet       8     B   8.8  Above Avg
8   neeraj       9     D   5.8     Genius
9   charan      10     C   6.9     Genius

In [7]:
d.loc[d["Type"]=="Topper","Topper"]=d["Name"]
d.loc[d["Type"]=="Above Avg","Above Avg"]=d["Name"]
d.loc[d["Type"]=="Below Avg","Below Avg"]=d["Name"]
d.loc[d["Type"]=="Genius","Genius"]=d["Name"]

print(d["Topper"])
print(d["Above Avg"])
print(d["Below Avg"])
print(d["Genius"])

0        NaN
1    sharath
2    ashrith
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
Name: Topper, dtype: object
0     varun
1       NaN
2       NaN
3    suhaas
4       NaN
5       NaN
6     bhanu
7    vineet
8       NaN
9       NaN
Name: Above Avg, dtype: object
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5    vikrant
6        NaN
7        NaN
8        NaN
9        NaN
Name: Below Avg, dtype: object
0       NaN
1       NaN
2       NaN
3       NaN
4     indra
5       NaN
6       NaN
7       NaN
8    neeraj
9    charan
Name: Genius, dtype: object

In [5]:
t=d["Topper"].dropna()
a_a=d["Above Avg"].dropna()
b_a=d["Below Avg"].dropna()
g=d["Genius"].dropna()

In [6]:
print("Topper: ")
print(t)
print()
print("Above Avg: ")
print(a_a)
print()
print("Below Avg: ")
print(b_a)
print()
print("Genius: ")
print(g)

Topper:
1    sharath
2    ashrith
Name: Topper, dtype: object

Above Avg:
0     varun
3    suhaas
6     bhanu
7    vineet
Name: Above Avg, dtype: object

Below Avg:
5    vikrant
Name: Below Avg, dtype: object

Genius:
4     indra
8    neeraj
9    charan
Name: Genius, dtype: object